@model IEnumerable<Blog.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Web Image  Örneği</h2>

<form action="/WebImage/ImageUpload" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadfile" id="uploadfile" />
    <br />
    <input type="submit" value="Gönder" />
</form>
