body {
    color:black;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.article {
        padding : 2px;
        border-bottom : 2px solid black;
        padding-bottom : 10px;
}
.article h4 {
        color: #ff0000;
        padding : 5px;
        background : #e69e08
    }

.article p {
       color: black;
}

.article2 h3{
        color: #2f7803;
}
.image {

    position: relative;
    height: 200px;
    width:300px;
}

.place {

    position: center;
}


