@{
    ViewBag.Title = "About  Me";
}

<div class="place">
    <h2> Nergis Zabzun </h2>
    <div class="col-lg-pull-4">
        <img src="@Url.Content("~/Images/me.jpg")" alt="Image" width="250" height="262" />
    </div>
</div>

<div class="article2">

<h3> University : </h3><p> Yıldırım Beyazıt University </p>     
<h3> Department : </h3> <p> Computer Engineering </p>
<h3> Class : </h3> <p> 3th Class </p>
<h3> Student ID: </h3> <p> 1105011005 </p>
<h3> Interested Areas : </h3> <p> Text Retrieval and Search Engines<br /> Pattern Discovery in Data Mining </p>

</div>
