@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h2> Nergis Zabzun </h2>
    <img src="@Url.Content("~/Images/me.jpg")" alt="Image" width="250" height="262" />
</div>

<div class="row">
    <div class="col-md-3">
        <h4>Contact Me Via Twitter</h4>
        <p><a class="btn btn-default" href="https://twitter.com/">Twitter &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h4>Contact Me Via LinkedIn</h4>
        <p><a class="btn btn-default" href="https://www.linkedin.com/">LinkedIn &raquo;</a></p>
    </div>
</div>
